.left {
    margin-right: 50%;
    float: none;
}

.right {
    margin-left: 50%;
    float: none;
}

.scroll {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: auto;
}