.air-left {
    margin-right: 50%;
    float: none;
}

.air-right {
    margin-left: 50%;
    float: none;
}

.btn {
    width: 120px;
}

.scroll {
    position: absolute;
    top: 50px; right: 0; bottom: 60px; left: 0;
    height: auto;
    overflow-y: scroll;
    border-top: 1px solid lightgray;
}

#editButtons {
    position: absolute;
    bottom: 12px; right: 30px;
}