body {
    background-color: #FFFFFF;
}

.text {
    width: 50%;
}

.wrapper {
    width: 100%;
}

.left {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.scroll {
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}

.right {
    float: right;
    width: 49%;
}

.inserted {
    background-color: lightgreen;
}

.deleted {
    background-color: lightcoral;
}

.modified {
    background-color: #f6ff76;
}

.padding {
    background-color: lightgray;
}

textarea {
    width: 100%;
    height: 200px;
}

button {
    width: 100px;
    height: 30px;
}