body {
    background-color: #FFFFFF;
}

.text {
    width: 50%;
}

.wrapper {
    width: 100%;
}

.left {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.scroll {
    height: 600px;
    overflow-x: auto;
    overflow-y: auto;
}

.right {
    float: right;
    width: 49%;
}

.inserted {
    background-color: #9E9;
    min-width: 100%;
    display: inline-block;
}

.deleted {
    background-color: #E99;
    min-width: 100%;
    display: inline-block;
}

.modified {
    background-color: #FD8;
    min-width: 100%;
    display: inline-block;
}

.padding {
    background-color: lightgray;
    min-width: 100%;
    display: inline-block;
}

textarea {
    width: 100%;
    height: 200px;
}

button {
    width: 100px;
    height: 30px;
}